operating-system-in-1000-lines/
*.txt
tmp/
gdb-13.2
gdb-13.2.tar.gz
app/.cargo
app/target
app/*.c
app/*.h
app/shell_bin
app/shell_bin.o
app/shell_elf
app/shell.bin
app/shell.elf
app/*.map
senos/.cargo
senos/target
senos/disk
senos/a.out.dSYM
senos/a.out
senos/disk.tar
senos/kernel.map
senos/*.c
senos/*.h
senos/shell_bin
senos/shell_bin.o
senos/shell_elf
senos/shell.bin
senos/shell.elf
senos/src/shell_bin
senos/src/shell_bin.o
senos/src/shell_elf
senos/src/shell.bin
senos/src/shell.elf
